.header {
  background-color: #1e1e2f; /* Dark background */
  color: #fff; /* White text */
  padding: 10px 10px; /* Adjusted padding */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Space between items */
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  max-width: 1200px; /* Center content */
  margin: 0 auto; /* Center the container */
}

.header-title {
  font-size: 24px; /* Larger font */
  color: #fff; /* White text */
  font-weight: bold; /* Bold text */
}

.title2 {
  font-size: 15px; /* Smaller font */
  color: #f0f0f0; /* Lighter color for contrast */
}

.search-bar {
  padding: 10px 5px; /* Reduced padding */
  border-radius: 5px; /* More rounded corners */
  border: 1px solid #dcdcdc; /* Light border */
  width: 400px; /* Width of search bar */
  margin-left: 0px; /* Space between title and search bar */
  background-color: #fff; /* White background */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Light shadow */
  margin-right: 3 00px;
}

.search-bar::placeholder {
  color: #888;
  text-align: left; /* Placeholder text color */
}

.user-options {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between user options */
}

.signin-link {
  color: #fff; /* White text */
  text-decoration: none; /* No underline */
  font-weight: 500; /* Semi-bold text */
}

.signin-link:hover {
  text-decoration: underline; /* Underline on hover */
}


.cart-icon {
  font-size: 18px; /* Cart icon size */
  color: #fff; /* White text */
  display: flex;
  align-items: center; /* Center icon vertically */
}
